
<div th:fragment="header">
  <div class="d-flex flex-column flex-md-row align-items-center bg-success bg-opacity-50 pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <span class="fs-4">DOG</span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-5 ">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">О нас</a>

      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/contact">Контакты</a>
    </nav>
  </div>

</div>