
<div th:fragment="header">
  <div style="background-color: rgb(229,154,238); box-shadow: 0px 1px 3px rgba(0,0,0,1);">
    <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
      <span class="fs-4">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-hurricane" viewBox="0 0 16 16">
  <path d="M6.999 2.6A5.5 5.5 0 0 1 15 7.5a.5.5 0 0 0 1 0 6.5 6.5 0 1 0-13 0 5 5 0 0 0 6.001 4.9A5.5 5.5 0 0 1 1 7.5a.5.5 0 0 0-1 0 6.5 6.5 0 1 0 13 0 5 5 0 0 0-6.001-4.9zM10 7.5a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
</svg>
        Inworder
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-hurricane" viewBox="0 0 16 16">
  <path d="M6.999 2.6A5.5 5.5 0 0 1 15 7.5a.5.5 0 0 0 1 0 6.5 6.5 0 1 0-13 0 5 5 0 0 0 6.001 4.9A5.5 5.5 0 0 1 1 7.5a.5.5 0 0 0-1 0 6.5 6.5 0 1 0 13 0 5 5 0 0 0-6.001-4.9zM10 7.5a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
</svg>
      </span>
    </a>
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-5 ">
      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/about">О нас</a>

      <a class="me-3 py-2 link-body-emphasis text-decoration-none" href="/contact">Контакты</a>
    </nav>
  </div>

</div>